* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: #fff;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.wrapper h1 {
  align-self: center;
  color: green;
}

.container {
  margin-top: 10%;
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
}

.output {
  grid-column: 1 / span 4;
  background-color: #808080;
  text-align: right;
  color: #fff;
  font-size: 25px;
  padding-top: 15px;
  padding-right: 15px;
}

.zero {
  grid-column: 1 / span 2;
}

.division,
.multi,
.minus,
.plus,
.equal {
  background-color: #ffa500;
  font-size: large;
}

.point {
  font-size: larger;
}

button {
  cursor: pointer;
  background-color: #323;
  color: #fff;
}
